@mixin font-event-style() {
	color: $blue-theme;
	font-weight: bold;	
}

@mixin button-edit(){
	span {
		a {
			float: right;
			margin-left: 5px;
		}
	}
}

@mixin button-color(){
	a {
		font-weight: bold;
		background-color: #e65100;	
		
		&:hover {
			background-color: #f57c00;	
		}
	}
}


.events {
	#title {
		@include font-event-style();
		@include button-edit();
		@include button-color();
	}

	.information{
		margin-top: 1.5em;

		.item {
			font-size: 18px;

			span {
				font-weight: bold;
			}
		}
	}

	margin-bottom: 2.5em;
}

.edit-buttons {
	#title {
		border-bottom: 1px solid #dedede;
		@include font-event-style();
		padding-bottom: 15px;

		@include button-edit();
	}

	.buttons {
		margin-left: 10em;
	}

	#buttons1 {
		margin-left: 7em;
		margin-bottom: 10px;;
		a {
			width: 200px;
		}
		
	}

	#buttons2 {
		margin-left: 4em;
		margin-bottom: 10px;;
		a {
			width: 250px;
		}
		
	}

	@include button-color();


	margin-top: 2.5em;
	margin-bottom: 4em;
	
}