input{
    &:focus{
        border-bottom: 1px solid #0d47a1 !important;
    }
}

.select-wrapper {
    input[value], ul li span {
        color:  #0d47a1;
    }
}

.picker__date-display, .picker__weekday-display{
    background-color: #0d47a1;
}

div{
	.picker__day.picker__day--infocus{
		.picker__day--selected.picker__day--highlighted {
        	background-color: rgba(66, 133, 244, 0.79);
        }
    }

    .picker__date-display {
    	color: #ffd600 !important;
    }
}

button {
	.picker__today, .picker__close {
    	color: rgba(66, 133, 244, 0.79);
    }

}

.clockpicker-display {
	color: #ffd600 !important;

	.text-primary{
		color: #ffd600 !important;
	}
}

.card-bottom-margin {
    margin-bottom: 0;
    button {
        float: right;
    }
}

.card-bigger {
    width: 1000px;
    padding-left: 7em;
    padding-top: 2em;
    margin-bottom: 50px;
    margin-left: -2em;
}

.error {
    ul {
        li {
            font-size: 14px;
        } 
    }
}