.ui {
	.form{
		.form-date {
			margin-top: 15px;
		}

		.button {
			float: right;
			position: relative;
		}
	}
}


p.datetime{

	.vDateField{
    	width: calc(100% - 151px)!important;
	}

	.vTimeField{
   	 	width: calc(100% - 152px)!important;
	}

} 


