@mixin font-list-style() {
	color: $blue-theme;
	font-weight: bold;	
}


.list {
	h4 {
		@include font-list-style();	
	}
	span {
		&:first-child {	
			a {
				@include font-list-style();
				font-size: 20px;
			}
		}
		&:last-child{
			font-size: 15px;
		}
	}

	.modal {
		&:not(img){
			float: left;
		}

		img {
			width: 100px;
			height: 100px;
		}

		.modal-footer {
			margin-top: 2em;
		}
	}
}