nav {
	.brand-logo {
		margin-left: 20px;
		font-weight: bold;
		font-size: 40px;
		color: #ffd600;
	}

	ul {
		li {
			a {
				font-size: 17px;
			}
		}

		margin-right: 20px;
	}

	margin-bottom: 25px;
}