@mixin yellow_bold() {
	color: $yellow-theme;
	font-weight: bold;
}

@mixin navbar_dropdown_liks() {
	a {
		font-size: 17px;
		color: $blue-theme;

		&:hover{
			background: $blue-theme;
			color: white;
		}
	}
}


nav {
	.brand-logo {
		margin-left: 20px;
		font-size: 40px;
		@include yellow_bold();
	}

	ul {
		li {

			#dados {
				@include navbar_dropdown_liks();		
			}

			#auth {
				@include navbar_dropdown_liks();
			}

			a {
				font-size: 17px;

				&:hover {
					@include yellow_bold()
				}
			}
		}

		margin-right: 20px;
	}

	margin-bottom: 25px;
}