@mixin yellow_bold() {
	color: $yellow-theme;
	font-weight: bold;
}


nav {
	.brand-logo {
		margin-left: 20px;
		font-size: 40px;
		@include yellow_bold();
	}

	ul {
		li {
			a {
				font-size: 17px;

				&:hover {
					@include yellow_bold()
				}
			}
		}

		margin-right: 20px;
	}

	margin-bottom: 25px;
}