.pagination {
	li {
		&.active {
			a {
				color: $yellow-theme;
				background-color: $blue-theme;
			}
		}

		a {
			&:not(.active) {
				&:hover{
					background-color: darken($blue-theme, 15%);
					color: $yellow-theme;
				}
			}
		}
	}
}