{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} Intervalo | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="card-interval card">
		<form method="POST" action="">
		 {% csrf_token %}
			<div class="row">
				<div class="col s8">
					<label>{{ form.date.label }}</label>
					{% render_field form.date class="datepicker" %} 
				</div>
			</div>
			<div class="row">
				<div class="col s8">
					<label>{{ form.start_at.label }}</label>
					{% render_field form.start_at class="timepicker" %} 
				</div>
			</div>


			<div class= "row">
				<div class="col s8">
					<label>{{ form.end.label }}</label>
					{% render_field form.end class="timepicker" %} 
				</div>
			</div>
			<div class= "row">
				<div class="col s8">
					<label>{{ form.talk_description.label }}</label>
					{% render_field form.talk_description class="materialize-textarea" %} 
				</div>
			</div>

			{% include "utils/forms_error.html" %}

			<div class="card-action">
		        <div class="row card-bottom-margin">
		       		<button type="submit" class=" waves-effect waves-light btn blue">Submit</button>
		    	</div>
		    </div>
		</form>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_script.js' %}"></script>
{% endblock scripts %}