{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col s8">
		<div class="card">
			<form method="POST" action="">
			{% csrf_token %}
					<div class= "row">
						<div class="input-field col s6 offset-s3">	
							<label>{{ form.name.label}}</label>
							{{ form.name }}
						</div>
					</div>

					<div class= "row">
						<div class="col s6 offset-s3">	
							<label>{{ form.event.label}}</label>
							{{ form.event }}
						</div>
					</div>

				{% if form.errors %}
		          <div>
		            <ul>{{ form.non_field_errors }}</ul>
		            {% for field in form %} 
		              {% if field.errors %}
		              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
		              {% endif %}
		            {% endfor %}
		          </div>
		        {% endif %}

		        <div class="card-action">
		        	<div class="row card-bottom-margin">
		       			<button type="submit" class=" waves-effect waves-light btn blue">Submit</button>
		       		</div>
		       	</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}