{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="ui grid">
	<div class="nine wide column">
		<div class="ui clearing segment">
			<form class="ui form" method="POST" action="">
			 {% csrf_token %}
				<div class="field">	
					<label>{{ form.name.label}}</label>
					{{ form.name }} 
				</div>
				
				<div class="field">	
					<label>{{ form.address.label}}</label>
					{{ form.address }} 
				</div>

				<div class="field">	
					<label>{{ form.city.label}}</label>
					{{ form.city }} 
				</div>

				<div class="field">	
					<label>{{ form.state.label}}</label>
					{{ form.state }} 
				</div>

				<div class="two fields">
					<div class="field">
						<label>{{ form.start_date.label}}</label>	
						<div class="ui piled segment form-date">
							{% render_field form.start_date class="datepicker" %} 
						</div>
					</div>
					
					<div class="field">	
						<label>{{ form.end_date.label}}</label>
						<div class="ui piled segment form-date">
							{% render_field form.end_date class="datepicker" %} 
						</div>
					</div>
				</div>
				 {% if form.errors %}
                  <div>
                    <ul>{{ form.non_field_errors }}</ul>
                    {% for field in form %} 
                      {% if field.errors %}
                      <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

				<button type="submit" class="ui blue submit button">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock content %}