{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
	<div class="card">
			<form method="POST" action="">
			 {% csrf_token %}
				<div class="row">
					<div class="col s7 offset-s2">
						<label>{{ form.name.label}}</label>
						{{ form.name }} 
					</div>
				</div>

				<div class="row">
					<div class="col s7 offset-s2">
						<label>{{ form.types.label}}</label>
						{{ form.types }} 
					</div>
				</div>

				<div class="row">
					<div class="col s7 offset-s2">
						<label>{{ form.image_logo.label}}</label>
						{% render_field form.image_logo placeholder="URL da image/logo do patrocinador" %}
					</div>
				</div>



				{% include "utils/forms_error.html" %}

				<div class="card-action">
			        <div class="row card-bottom-margin">
			       		<button type="submit" class=" waves-effect waves-light btn blue">Submit</button>
			    	</div>
			    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_script.js' %}"></script>
{% endblock scripts %}