{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="container">
		<div class="row">
		    <ul class="collection with-header list">
	            <li class="collection-header"><h4>{% trans "Event List" %}</h4></li>
		        {% for event in events %}
					    <li class="collection-item">
					      <span class="list-item-title"><a href="{% url 'events:event' slug=event.slug %}">{{ event.name }} - {{ event.state }}, {{ event.city }}</a></span><br>
					      <span>De {{ event.start_date|date:'d/m/Y' }} a {{ event.end_date|date:'d/m/Y'}}</span>
					    </li>
				{% empty %}
					<li class="collection-item"><h5>Você não possui nenhum evento cadastrado na plataforma</h5></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if paginator.num_pages > 1 %}
		{% include "utils/pagination.html" %}
	{% endif %}
{% endblock content %}