{% extends "base.html" %}

{% block content %}
	<div class="container">
			<div class="row">
				<div class="column">
					<div class="ui relaxed divided animated list">
						
					    <ul class="collection with-header list">
				            <li class="collection-header"><h4>Event List</h4></li>
				        	{% for event in events %}	
						    <li class="collection-item">
						      <span>{{ event.name }} - {{ event.state }}, {{ event.city }}</span><br>
						      <span>De {{ event.start_date|date:'d/m/Y' }} a {{ event.end_date|date:'d/m/Y'}}</span>
						    </li>
						    {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}