{% if form.errors %}
	  <!-- Modal Structure -->
	  <div id="modal" class="modal modal-footer">
	    <div class="error modal-content">
	    	<ul class="col s5 red-text">
	    	{{ form.non_field_errors }}
	    	</ul>
	    	<ul>
			{% for field in form %} 
              {% if field.errors %}
              <li class="red-text">{{ field.label }}: {{ field.errors|striptags }}</li>
              {% endif %}
            {% endfor %}
            </ul>
	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-effect waves-light btn blue">Ok</a>	
	    </div>
	  </div>
{% endif %}