{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="card-login card">
			<form method="POST" action="">
			 {% csrf_token %}
				{% for field in form %}
					<div class="row">
						<div class="input-field col s7 offset-s2">	
							<label>{{ field.label}}</label>
							{{ field }}  
						</div>
					</div>
				{% endfor %}

				{% include "utils/forms_error.html" %}

				<div class="card-action">
			        <div class="row card-bottom-margin">
			       		<button type="submit" class=" waves-effect waves-light btn blue">{% trans "Sign in" %}</button>
			    	</div>
			    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_script.js' %}"></script>
{% endblock scripts %}